---
title: Exter documentation
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <main class="container">
      <h1><a href="/" aria-label="menu">Exter documentation</a></h1>
      <div class="grid">
        <aside>
          <details{% if category == "start" %} open="true"{% endif %}>
            <summary>Getting started</summary>
            <ul>
              <li><a href="/" id="start-link" class="secondary">About</a></li>
              <li><a href="#" id="start-link" class="secondary">Usage</a></li>
            </ul>
          </details>
          <details{% if category == "addon" %} open="true"{% endif %}>
            <summary>Addons</summary>
            <ul>
              <li><a href="/addon_API/" id="start-link" class="secondary">API</a></li>
            </ul>
          </details>
        </aside>
        <div class="content">
            {{ content | safe }}
        </div>
      </div>
    </main>
    <footer class="container footer">
        <p>
          <strong><a href="https://github.com/asciimoo/exter">Exter</a></strong><br />
           License: <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPLv3</a>
        </p>
    </footer>
  </body>
</html>
